.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  
  
  /* font-family: 'Helvetica Neue', Arial, sans-serif; Изначально здесь было это! */
}
@font-face {
  src:url(Inter-Regular.woff) format( 'woff' ),
      url(Inter-Regular.woff2) format( 'woff2');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src:url(Inter-SemiBold.woff) format( 'woff' ),
      url(Inter-SemiBold.woff2) format( 'woff2' );
  font-family: 'Inter';
  font-weight: bold;
}

@font-face {
  src:url(Inter-Bold.woff) format( 'woff' ),
      url(Inter-Bold.woff2) format( 'woff2' );
  font-family: 'Inter';
  font-weight: bolder;
}

.page {
  font-family:  'Inter', 'Arial', sans-serif;
  font-weight: normal;
  min-width: 1100px;
  max-width: 1600px;
}
 

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__table_cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.description {
  width: 80%;
  margin: 100px auto ;
  display: flex;
  flex-direction: row;
}
.digits {
  margin: 100px auto ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.kaufman {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  width: 175px;
  color:#2f80ed;
}
.two-columns {
  display: flex;
}

.main-text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 80%;
  min-width: 784px;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  
}
.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  margin-bottom: 0px;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  margin-top: 20px;
  line-height: 34px;
  text-align: center;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
}

.table {
margin-left: auto;
margin-right: auto;
  margin-top: 0px;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;

}
.table_cell {
  
  width: 250px; 
}

.table_heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.section-title__theme_dark {
  margin-top: 90px;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle__theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_cell__theme_dark {
  margin-top: 80px;
  color: white;
  width: 200px;
}
.table_heading__theme_dark {
  margin-top: 0px;
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table_text__theme_dark {
  margin-top: 20px;
  color:white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
