





/* и элемента с модификатором вида ключ-значение */

/* Описания стилей для каждого элемента section  */




/* Конец описания стилей для каждого элемента section  */





















.table__table_cell_theme_dark {
  padding-top: 80px;
  color: white;
  width: 200px;
}
.table_heading__theme_dark {
  color: white;
}

